<div class="top-bar__container">
  <div class="top-bar__container__content">
    <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
    <h3>Anais do 13º Simpósio LAtino Americano de Ciências de Alimentos</h3>
    <p>ISSN: 1234-5678</p>
  </div>

  <div class="top-bar__button-lang">
    <select class="language-selector">
      <option value="pt-br">PT, BR</option>
      <option value="en">EN</option>
    </select>
  </div>

  <div class="top-bar__login">
    <div class="sobre-usuario">
      <p>Bem-Vindo!</p>
      <p>alguem12@galoascience.com</p>
    </div>

    <div class="img-usuario">
      <img src="assets/user-img.png" alt="" height="40" width="40">
    </div>
  </div>

</div>
