.top-bar__container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(244, 221, 221);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__container__content {
  color: rgb(78, 78, 78);
  font-size: 14px;
  margin-left: 40px;
  width: 90%;
}

.top-bar__container__content p {
  font-weight: 400;
}

.top-bar__container__content h3 {
  font-weight: 450;
}

.top-bar__button-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  height: 2.0rem;
  width: 8.5rem;
  margin-right: 2.2rem;
  padding: 0;
  border: rgba(75, 75, 75, 0.489) 1px solid;
  box-sizing: border-box;
}

.language-selector{
  outline: none;
  background-color: rgb(244, 221, 221);
  border: none;
  cursor: pointer;
  appearance: none;
  font-weight: 400;
  font-size: 1.0rem;
  line-height: 1.7rem;
}

.top-bar__login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.sobre-usuario{
  text-align: right;
  margin-right: 10px;
}

.img-usuario img {
  border-radius: 50%;
}
