.app-container {
  position: relative;
  height: 250vh;
  width: 86.5%;
}

.left-bar__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
}

.top-bar__content {
  margin-left: 15%;
  width: 97%;
  height: 14.5vh;
}

.big-info__content {
  position: absolute;
  top: 0.5%;
  left: 19%;
  width: 65%;
  height: 80%;
  margin-top: 95px;
}

.infos__content {
  position: absolute;
  top: 42%;
  left: 19%;
  width: 88%;
  height: 65%;
  bottom: 5px;
  margin-bottom: 50px;
}

.download-section__content{
  position: absolute;
  top: 7.5%;
  left: 87%;
  width: 20%;
  height: 3%;
}

.detalhes-section__content{
  position: absolute;
  top: 12.4%;
  left: 89%;
  width: 18%;
  height: 28.5%;
}

.footer__content{
  display: flex;
  margin-top: 5%;
  width: 100%;
  height: 10%;
}
