
<div class="app-container">

  <div class="left-bar__content">
    <app-left-bar></app-left-bar>
  </div>

  <div class="top-bar__content">
    <app-top-bar></app-top-bar>
  </div>

  <div class="big-info__content">
    <app-big-info></app-big-info>
  </div>

  <div class="download-section__content">
    <app-download-section></app-download-section>
  </div>

  <div class="detalhes-section__content">
    <app-detalhes-info></app-detalhes-info>
  </div>

  <div class="infos__content">

    <app-resume-info></app-resume-info>
    <app-discussions-topic></app-discussions-topic>

  </div>
</div>

