.big-info__container{
  width: 90%;
  flex-direction: row;
}
.big-info__title{
  color: rgb(251, 82, 20);
  width: 90%;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
