.discussions-topic__container {
  border: 1px solid rgba(128, 128, 128, 0.53);
  width: 100%;
  height: auto; /* Alterado de 75% para auto */
  max-height: 500px; /* Defina uma altura máxima adequada */
  overflow: hidden;
  transition: height 0.5s ease;
}

.discussions-topic__container.expanded {
  height: 500px; /* Define a mesma altura máxima aqui */
}

.discussions-topic__top{
  background-color: rgb(244, 221, 221);
  height: 50px;
  display: flex;
  align-items: center;
}

.discussions-topic__top h3 {
  color: rgb(77, 76, 76);
  margin-left: 15px;
  font-size: 20px;
}

.discussions-topic__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.discussions-topic__bottom >h4{
  color: orangered;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.discussions-topic__bottom > p {
  color: rgba(117, 117, 117, 0.968);
  max-width: 55%;
  font-size: 14px;
  overflow-wrap: break-word;
  margin: 10px 0;
  white-space: pre-wrap;
}

.btn-create-topic > img{
  margin-right: 5px;
}

.btn-create-topic {
  background-image: linear-gradient(to bottom, #fa9a4c, #b96723);
  font-size: 1.0rem;
  font-weight: 500;
  line-height: 1.0rem;
  border-radius: 5px;
  color: #fff;
  border: none;
  height: 40px;
  width: 150px;
  padding: 10px 20px;
  margin-top: -10px;
  margin-left: 45%;
  margin-right: 50%;
  cursor: pointer;
  transition: background-image 0.3s ease;
  &:hover {
    background-image: linear-gradient(to bottom, #b96723, #fa9a4c);
  }
}

.answered-topic {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.answered-topic p {
  margin-top: 10px;
  color: rgba(117, 117, 117, 0.968);
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}


.answered-topic > h4{
  margin-left: 25px;
  margin-top: 10px;
  color: orangered;
}


.ops-topic-subject {
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.672);
  border-radius: 3px;
  height: 15%;
  width: 95%;
}

.comments-container{
  flex: 1;
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.672);
  border-radius: 3px;
  height: 60%;
  width: 95%;
}

.comments-container > textarea{
  flex: 1;
  margin: 0 auto;
  border-radius: 3px;
  height: 100%;
  width: 100%;
}

.btn-send-topic__container {
  background-color: rgba(215, 215, 215, 0.672);
  border: 1px solid rgba(128, 128, 128, 0.672);
  border-radius: 3px;
  width: 95%;
  margin: 0 auto;
  text-align: right;
}


.btn-send-topic{
  background-image: linear-gradient(to bottom, #fa9a4c, #b96723);
  color: #ffff;
  font-size: 1.0rem;
  font-weight: 500;
  line-height: 1.0rem;
  border-radius: 5px;
  width: 175px;
  height: 30px;
  &:hover {
    background-image: linear-gradient(to bottom, #b96723, #fa9a4c);
  }
}

.sended-topic__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
}

.sended-topic__container > h3 {
  color: orangered;
  margin-top: 25px;
  margin-bottom: 10px;
}

.sended-topic__container > p {
  color: rgba(117, 117, 117, 0.968);
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.sended-topic__container > a {
  color: orangered;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.btn-create-new-topic {
  background-image: linear-gradient(to bottom, #fa9a4c, #b96723);
  margin-top: 25px;
  margin-bottom: 10px;
  color: #ffff;
  font-size: 1.0rem;
  font-weight: 500;
  line-height: 1.0rem;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  &:hover {
    background-image: linear-gradient(to bottom, #b96723, #fa9a4c);
  }
}

.expanded-topic{
  margin-top: 40px;
}

.expanded-topic > p{
  margin-top: 10px;
  color: rgba(101, 100, 100, 0.968);;
  font-size: 17px;
  margin-bottom: 10px;
}

.expanded-topic > a{
  margin-top: 10px;
  color: orangered;
  font-size: 15px;
}


