<div class="discussions-topic__container">
  <div class="discussions-topic__top">
    <h3>Discussões</h3>
  </div>

  <div class="discussions-topic__bottom">
    <h4>Compartilhe suas ideias ou dúvidas com os autores!</h4>

    <div class="img">
      <img src="assets/img-discussions-topic.png" alt="">
    </div>

    <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor! </p>
  </div>

</div>

<button class="btn-create-topic">+ Criar Topico</button>



