<div class="discussions-topic__container" [class.expanded]="isExpanded" #topicContainer>
  <div class="discussions-topic__top">
    <h3>Discussões</h3>
  </div>

  <div class="discussions-topic__bottom" *ngIf="!showCreateForm">
    <h4>Compartilhe suas ideias ou dúvidas com os autores!</h4>

    <div class="img">
      <img src="assets/img-discussions-topic.png" alt="">
    </div>

    <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor! </p>
  </div>

  <form action="">
    <div class="answered-topic" id="answered-topic" *ngIf="showCreateForm && !showCreateSecondForm">
      <p> Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores</p>

      <h4>Assunto</h4>
      <input class="ops-topic-subject" id="ops-topic-subject" type="text" placeholder="Digite seu nome">

      <h4>Conteúdo</h4>
      <div class="comments-container">
        <textarea placeholder="Digite seu tópico"></textarea>
      </div>

      <div class="btn-send-topic__container">
        <button class="btn-send-topic"(click)="submitTopic()">Enviar</button>
      </div>
    </div>
  </form>

  <div class="sended-topic__container" *ngIf="showCreateSecondForm">
    <h3>Seu tópico foi enviado com sucesso! :D</h3>
    <p>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!</p>
    <a href="">Descubra outros trabalhos!</a>

    <div class="btn-create-new-topic__container">
      <button class="btn-create-new-topic">Criar novo topico</button>
      <hr class="btn-divider">
    </div>

    <div class="expanded-topic">
      <img src="assets/confere.svg" alt="">
      <p>Aguardando feedback dos autores</p>
      <a href="">Editar tópico</a>
    </div>
  </div>


</div>

<button class="btn-create-topic" id="btn-create-topic" (click)="toggleCreateForm()" *ngIf="!showCreateForm"><img src="assets/criar.svg" alt="">criar tópico</button>



